<div class="flex w-2/4 px-4">
  <div class="body-block w-full">
    <div
      class="post-block flex justify-between bg-white p-4 mb-4 rounded-lg shadow-lg"
    >
      <div class="post-avatar mr-4">
        <i class="fas fa-user-secret fa-3x text-gray-700"></i>
      </div>
      <div class="post">
        <div class="post-author">
          <p class="text-sm font-bold tracking-wide">Anonymous</p>
        </div>
        <div class="post-content mt-2">
          <p class="text-sm">
            Tinggal kenangan - semua yang kau berikan kini menjadi sebuah bagian
            dari ingatan yang tak bisa untuk ku lupakan, meskipun begitu aku
            cukup bersyukur, pertemuan singkat ini membuatku hidup
          </p>
        </div>
      </div>
    </div>
    <!-- End Single -->
    <div
      class="post-block flex justify-between bg-white p-4 mb-4 rounded-lg shadow-lg"
    >
      <div class="post-avatar mr-4">
        <i class="fas fa-user-secret fa-3x text-gray-700"></i>
      </div>
      <div class="post">
        <div class="post-author">
          <p class="text-sm font-bold tracking-wide">Anonymous</p>
        </div>
        <div class="post-content mt-2">
          <p class="text-sm">
            Tinggal kenangan - semua yang kau berikan kini menjadi sebuah bagian
            dari ingatan yang tak bisa untuk ku lupakan, meskipun begitu aku
            cukup bersyukur, pertemuan singkat ini membuatku hidup
          </p>
        </div>
      </div>
    </div>
    <!-- End Single -->
    <div
      class="post-block flex justify-between bg-white p-4 mb-4 rounded-lg shadow-lg"
    >
      <div class="post-avatar mr-4">
        <i class="fas fa-user-secret fa-3x text-gray-700"></i>
      </div>
      <div class="post">
        <div class="post-author">
          <p class="text-sm font-bold tracking-wide">Anonymous</p>
        </div>
        <div class="post-content mt-2">
          <p class="text-sm">
            Tinggal kenangan - semua yang kau berikan kini menjadi sebuah bagian
            dari ingatan yang tak bisa untuk ku lupakan, meskipun begitu aku
            cukup bersyukur, pertemuan singkat ini membuatku hidup
          </p>
        </div>
      </div>
    </div>
    <!-- End Single -->
    <div
      class="post-block flex justify-between bg-white p-4 mb-4 rounded-lg shadow-lg"
    >
      <div class="post-avatar mr-4">
        <i class="fas fa-user-secret fa-3x text-gray-700"></i>
      </div>
      <div class="post">
        <div class="post-author">
          <p class="text-sm font-bold tracking-wide">Anonymous</p>
        </div>
        <div class="post-content mt-2">
          <p class="text-sm">
            Tinggal kenangan - semua yang kau berikan kini menjadi sebuah bagian
            dari ingatan yang tak bisa untuk ku lupakan, meskipun begitu aku
            cukup bersyukur, pertemuan singkat ini membuatku hidup
          </p>
        </div>
      </div>
    </div>
    <!-- End Single -->
  </div>
</div>
