<div
  class="flex justify-between w-1/4 px-8 py-4 bg-white rounded-r-lg rounded-bl-lg shadow-lg"
>
  <div class="content-block w-full">
    <div class="header-block flex justify-between">
      <p class="text-xs font-bold text-uppercase tracking-wide">
        TOP STORIES
      </p>
      <a href="#" class="text-xs font-bold text-uppercase text-orange-500">
        ALL
      </a>
    </div>
    <div class="body-block mt-4 divide-y divide-gray-400">
      <div class="font-bold text-sm py-4">
        <p>
          # Tinggal Kenangan
          <span class="block text-xs font-medium text-gray-600"
            >By anonymous</span
          >
        </p>
      </div>
      <div class="font-bold text-sm py-4">
        <p>
          # Rapuh
          <span class="block text-xs font-medium text-gray-600"
            >By bambank</span
          >
        </p>
      </div>
      <div class="font-bold text-sm py-4">
        <p>
          # Satu hariku tanpamu
          <span class="block text-xs font-medium text-gray-600"
            >By anonymous</span
          >
        </p>
      </div>
      <div class="font-bold text-sm py-4">
        <p>
          # Bahagiaku adalah kamu
          <span class="block text-xs font-medium text-gray-600"
            >By anonymous</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
