<div class="header bg-white rounded-t-lg">
  <div class="flex p-4">
    <div class="flex justify-between items-center w-1/4 px-4">
      <h1><%= title %></h1>
      <i class="fas fa-home"></i>
    </div>
    <div class="flex justify-between items-center w-2/4 px-4">
      <div class="left-section">
        <p class="font-bold">Discover</p>
      </div>
      <div class="right-section">
        <i class="fas fa-search mr-4"></i
        ><button
          class="bg-red-400 hover:bg-red-500 text-white text-xs font-bold py-2 px-4 rounded-full"
        >
          Create Stories
        </button>
      </div>
    </div>
    <div class="flex justify-between items-center w-1/4 px-4">
      <div class="left-section">
        <i class="far fa-bell"></i>
      </div>
      <div class="right-section flex justify-between items-center">
        <p class="mr-2">Kelvin</p>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
</div>
