<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="bg-red-300">
    <div class="container bg-red-200 w-4/5 mx-auto mt-4 rounded-lg shadow-lg">
      <!-- Header -->
      <% include partials/headerLoggedInUser %>
      <!-- End of header -->

      <!-- Content -->
      <div class="content pt-1">
        <div class="flex">
          <!-- Left side -->
          <% include partials/homepage/leftSide %>
          <!-- Center -->
          <% include partials/homepage/center %>
          <!-- Right side -->
          <% include partials/homepage/rightSide %>
        </div>
      </div>
      <!-- End of left side -->
      <!-- End of Content -->
    </div>
  </body>
</html>
